@font-face {
  font-family: "iconfont"; /* Project id 2729256 */
  src: url("//at.alicdn.com/t/font_2729256_hryfy271n9.woff2?t=1638622574980") format("woff2"),
    url("//at.alicdn.com/t/font_2729256_hryfy271n9.woff?t=1638622574980") format("woff"),
    url("//at.alicdn.com/t/font_2729256_hryfy271n9.ttf?t=1638622574980") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Love:before {
  content: "\ea9c";
}

.icon-love1:before {
  content: "\e628";
}

.icon-icon_loop:before {
  content: "\e69d";
}

.icon-bottom:before {
  content: "\e627";
}

.icon-close:before {
  content: "\e69a";
}

.icon-user:before {
  content: "\e645";
}

.icon-sing:before {
  content: "\ea20";
}

.icon-pause:before {
  content: "\e626";
}

.icon-bofangliebiao:before {
  content: "\e6a7";
}

.icon-24gl-next:before {
  content: "\ea6b";
}

.icon-24gl-previous:before {
  content: "\ea73";
}

.icon-loop:before {
  content: "\e64c";
}

.icon-LOOP_ONCE:before {
  content: "\ea19";
}

.icon-Moreoptionshorizon:before {
  content: "\e691";
}

.icon-search:before {
  content: "\e6c8";
}

.icon-play:before {
  content: "\e726";
}

.icon-i-back:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e61f";
}

.icon-select:before {
  content: "\e621";
}

.icon-right:before {
  content: "\e622";
}

.icon-share:before {
  content: "\e623";
}

.icon-download:before {
  content: "\e690";
}

.icon-zhuanji:before {
  content: "\e620";
}

.icon-zhibo:before {
  content: "\e634";
}

.icon-musiclist:before {
  content: "\e69c";
}

.icon-paihangbang:before {
  content: "\e629";
}

.icon-game:before {
  content: "\e6bc";
}

.icon-diantai:before {
  content: "\e693";
}

.icon-rl0:before {
  content: "\e600";
}

.icon-rl1:before {
  content: "\e601";
}

.icon-rl3:before {
  content: "\e602";
}

.icon-rl2:before {
  content: "\e603";
}

.icon-rl4:before {
  content: "\e604";
}

.icon-rl6:before {
  content: "\e605";
}

.icon-rl7:before {
  content: "\e606";
}

.icon-rl10:before {
  content: "\e607";
}

.icon-rl8:before {
  content: "\e608";
}

.icon-rl11:before {
  content: "\e609";
}

.icon-rl9:before {
  content: "\e60a";
}

.icon-rl12:before {
  content: "\e60b";
}

.icon-rl13:before {
  content: "\e60c";
}

.icon-rl5:before {
  content: "\e60d";
}

.icon-rl14:before {
  content: "\e60e";
}

.icon-rl16:before {
  content: "\e60f";
}

.icon-rl15:before {
  content: "\e610";
}

.icon-rl17:before {
  content: "\e611";
}

.icon-rl18:before {
  content: "\e612";
}

.icon-rl20:before {
  content: "\e613";
}

.icon-rl19:before {
  content: "\e614";
}

.icon-rl23:before {
  content: "\e615";
}

.icon-rl21:before {
  content: "\e616";
}

.icon-rl24:before {
  content: "\e617";
}

.icon-rl22:before {
  content: "\e618";
}

.icon-rl26:before {
  content: "\e619";
}

.icon-rl25:before {
  content: "\e61a";
}

.icon-rl28:before {
  content: "\e61b";
}

.icon-rl27:before {
  content: "\e61c";
}

.icon-rl30:before {
  content: "\e61d";
}

.icon-rl29:before {
  content: "\e61e";
}
